* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.profile-section {
  width: 100%;
  margin-top: 48px;
}

.profile-share-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 300px;
  top: 48px;
  /* width: 36px;
  height: 48px; */
  color: gray;
}
.profile-big-share-btn {
  border: 2px dotted gray;
  border-radius: 100%;
}

.profile-small-share-btn {
  display: none;
  border: 2px dotted gray;
  border-radius: 100%;
}
.profile-img-container {
  position: relative;
  width: 88px;
  height: 88px;
  margin: auto;
}
#profile__img {
  /* background-color: black; */

  /* opacity: 0.5; */
  /* display: block; */
  padding: 0px;
  width: 100%;
  height: 100%;
  border-radius: 275px;
  /* margin: auto; */
  cursor: pointer;
}

.profile-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 275px;

  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
}
.profile-img-container:hover .profile-img-overlay {
  opacity: 0.5;
}

.profile-img-overlay:hover {
  /* background-color: blue; */
  /* opacity: 1; */
}
.camera-icon {
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  opacity: 0;
  /* z-index: 99; */
}
.camera-icon:hover {
  opacity: 1;
}
#profile-name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.profile-link-btn {
  background-color: #eaecf0;
  width: 70%;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 16px 8px;
  font-size: 18px;
}
.profile-link-btn:hover {
  background-color: #d0d5dd;
}
.social-links {
  margin-bottom: 8rem;
}

.social-link-icon {
  width: 24px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  display: inline;
}

.profile-footer {
  width: 90%;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top: 2px solid #eee;
}

.profile-footer-logo {
  margin-bottom: 16px;
}

@media screen and (max-width: 950px) {
  .profile-share-btn {
    position: absolute;
    right: 140px;
  }
}
@media screen and (max-width: 600px) {
  .profile-footer {
    display: block;
    width: 100%;
    text-align: left;
  }
  .profile-share-btn {
    position: absolute;
    right: 8px;
  }
  .profile-big-share-btn {
    display: none;
  }
  .profile-small-share-btn {
    display: block;
  }
}
